<div class="w-full p-3">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Orders</h1>
  </div>

  <div id="orders" class="min-w-full">
    <%= render @orders %>
  </div>
</div>
