<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing order history</h1>

  <%= render "form", order_history: @order_history %>

  <%= link_to "Show this order history", @order_history, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to order histories", order_histories_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
