<div class="w-full p-3">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Items</h1>
    <%= link_to "New item", new_item_path, class: "rounded-lg py-3 px-5 bg-blue text-white block font-medium" %>
  </div>

  <div id="items" class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5l">
    <%= render @items %>
  </div>
</div>
