<div class="mx-auto md:w-2/3 w-full flex flex-col items-center">
  <div class="mx-auto bg-white p-8 rounded-lg shadow-md p-5">
    <%= render @item %>

    <div class="p-3">
      <div class="flex item-center justify-between px-5">
        <%= link_to "Edit this item", edit_item_path(@item), class: "bg-blue hover:bg-blue text-white font-bold py-2 px-4 rounded mr-4" %>
        <%= button_to "Destroy this item", item_path(@item), method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
      </div>
      <div class="flex item-center justify-center p-5">
        <%= link_to "Back to items", items_path, class: "bg-gray-200 hover:bg-gray-100 text-black font-bold py-2 px-4 rounded ml-4" %>
      </div>
    </div>
  </div>
</div>
