<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @dashboard %>
    <%= link_to "Edit this dashboard", edit_dashboard_path(@dashboard), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this dashboard", dashboard_path(@dashboard), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to dashboards", dashboards_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
